---
language: java
dist: bionic

jdk:
- openjdk8

notifications:
  email: true

branches:
  except:
  - gh-pages

cache:
  directories:
  - "$HOME/.m2"

env:
  global:
    - MVN_ARGS="--settings build/.travis.settings.xml"

stages:
  - name: Build-Test
  - name: Semantic-Release
    if: (branch = main) AND (type IN (push, api)) AND (fork = false)
  - name: Publish-Release
    if: (tag IS present) AND (fork = false)

before_install:
  - sudo apt-get update
  - env | grep TRAVIS
  - pyenv global 3.8

jobs:
  include:
    - stage: Build-Test
      jdk: openjdk8
      install: skip
      script:
        - build/setMavenVersion.sh
        - mvn clean package $MVN_ARGS

    - jdk: openjdk11
      install: skip
      script:
        - mvn clean package $MVN_ARGS

    - jdk: openjdk17
      install: skip
      script:
        - mvn clean package $MVN_ARGS

    - stage: Semantic-Release
      jdk: openjdk8
      install:
        - nvm install 14
        - npm install
        - pip install --user bump2version
      script:
        - npm run semantic-release
      after_success:
        - echo "Semantic release has successfully created a new tagged-release"

    - stage: Publish-Release
      jdk: openjdk8
      name: Publish-Javadoc
      install: true
      script:
        - build/setMavenVersion.sh
        - mvn clean javadoc:javadoc $MVN_ARGS
        - build/publishJavadoc.sh
      after_success:
        - echo "Javadocs successfully published to gh-pages!"

    - jdk: openjdk8
      name: Publish-To-Maven-Central
      install: true
      script:
        - build/setupSigning.sh
        - build/setMavenVersion.sh
        - mvn deploy $MVN_ARGS -DskipTests -P central
      after_success:
        - echo "Maven artifacts successfully published to Maven Central!"
